extends baseEmail
block content
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
    p Forgot Your Password? Click on the button to reset your Password
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p if you didnot request then please ignore this email.
    p - RABNAWAZ HUSSAIN, CEO